# 现在有一个包含 N 个元素的元组或者是序列，怎样将它里面的值解压后同时赋值给 N 个变量？

In [1]:
p=(4,5)
x,y=p

In [2]:
x

4

In [3]:
 data = [ 'ACME', 50, 91.1, (2012, 12, 21) ]

In [5]:
name,shares,price,(year,month,day)=data

In [6]:
name

'ACME'

In [7]:
shares

50

In [8]:
price

91.1

In [9]:
year

2012

In [10]:
month

12

In [11]:
day

21

任何可迭代对象都可以,不只是列表或者元组.还有字符串,文件对象,迭代器和生成器

In [12]:
s='hello'

In [13]:
a,b,c,d,e=s

In [14]:
a

'h'

In [15]:
e

'o'

如果只是想解压部分,可以通过任意变量名占位即可

In [16]:
data

['ACME', 50, 91.1, (2012, 12, 21)]

In [17]:
_,shares,price,_=data

In [18]:
_

(2012, 12, 21)

In [19]:
shares

50

# 现在有一个包含 N 个元素的元组或者是序列，怎样将它里面的值解压后同时赋值给 M 个变量？M  <  N

In [2]:
record = ('Dave', 'dave@example.com', '773-555-1212', '847-555-1212')

In [3]:
name, email, *phone_numbers = record

In [6]:
name

'Dave'

In [7]:
email

'dave@example.com'

In [8]:
phone_numbers

['773-555-1212', '847-555-1212']

In [9]:
type(phone_numbers)

list

排除第一个和最后一个分数,计算平均分数,比如最高分和最低分(先排序)

In [12]:
import numpy as np
def drop_first_last(grades):
    first,*middle,last=grades
    return np.mean(middle)

In [14]:
aList=[i for i in range(10)]
print(aList)
drop_first_last(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

4.5

你有一个公司前 8 个月销售数据的序列， 但是你想看下最近一个月数据和前面 7 个月的平均值的对比

In [18]:
sales_record=range(10)
*trailing_qtrs, current_qtr = sales_record
trailing_avg = sum(trailing_qtrs) / len(trailing_qtrs)
np.mean(trailing_avg), current_qtr

(4.0, 9)

星号解压语法在字符串操作的时候也会很有用，比如字符串的分割。

In [19]:
line = 'nobody:*:-2:-2:Unprivileged User:/var/empty:/usr/bin/false'

In [20]:
uname,*fields,homedir,sh=line.split(':')

In [21]:
uname

'nobody'

In [22]:
fields

['*', '-2', '-2', 'Unprivileged User']

In [23]:
homedir

'/var/empty'

In [24]:
sh

'/usr/bin/false'

有时候，你想解压一些元素后丢弃它们，你不能简单就使用 * ， 但是你可以使用一个普通的废弃名称，比如 _ 或者 ign （ignore）。

In [25]:
record = ('ACME', 50, 123.45, (12, 18, 2012))

In [26]:
name,*ign,(*ign,year)=record

In [27]:
name

'ACME'

In [28]:
year

2012

# 查找最大或最小的 N 个元素

In [33]:
import heapq

In [34]:
nums = [1, 8, 2, 23, 7, -4, 18, 23, 42, 37, 2]

In [36]:
sorted(nums)[:3]

[-4, 1, 2]

In [39]:
sorted(nums,reverse=True)[:3]

[42, 37, 23]

In [40]:
heapq.nlargest(3,nums)

[42, 37, 23]

In [41]:
heapq.nsmallest(3,nums)

[-4, 1, 2]

In [42]:
portfolio = [
    {'name': 'IBM', 'shares': 100, 'price': 91.1},
    {'name': 'AAPL', 'shares': 50, 'price': 543.22},
    {'name': 'FB', 'shares': 200, 'price': 21.09},
    {'name': 'HPQ', 'shares': 35, 'price': 31.75},
    {'name': 'YHOO', 'shares': 45, 'price': 16.35},
    {'name': 'ACME', 'shares': 75, 'price': 115.65}
]

In [43]:
portfolio

[{'name': 'IBM', 'price': 91.1, 'shares': 100},
 {'name': 'AAPL', 'price': 543.22, 'shares': 50},
 {'name': 'FB', 'price': 21.09, 'shares': 200},
 {'name': 'HPQ', 'price': 31.75, 'shares': 35},
 {'name': 'YHOO', 'price': 16.35, 'shares': 45},
 {'name': 'ACME', 'price': 115.65, 'shares': 75}]

In [82]:
# 解法一
heapq.nlargest(3,portfolio,key=lambda s:s['price'])

[{'name': 'AAPL', 'price': 543.22, 'shares': 50},
 {'name': 'ACME', 'price': 115.65, 'shares': 75},
 {'name': 'IBM', 'price': 91.1, 'shares': 100}]

In [45]:
import pandas as pd

In [81]:
df=pd.DataFrame(portfolio)
df

   name   price  shares
0   IBM   91.10     100
1  AAPL  543.22      50
2    FB   21.09     200
3   HPQ   31.75      35
4  YHOO   16.35      45
5  ACME  115.65      75

In [83]:
#解法二
three_large_index=df.price.sort_values(ascending=False).index[:3]
df.loc[three_large_index]

   name   price  shares
1  AAPL  543.22      50
5  ACME  115.65      75
0   IBM   91.10     100

In [84]:
# 解法三
df.nlargest(3,'price')

   name   price  shares
1  AAPL  543.22      50
5  ACME  115.65      75
0   IBM   91.10     100